{% load static %}
<footer>
  <div class="footer-container">
    <div class="footer-box">
      <a href="/" class="footer-img">
        <img src="{% static 'images/S.png' %}" />
      </a>
    </div>
    <div class="footer-box"></div>
    <div class="footer-box">
      <h3>Contact</h3>
      <div>
        <i class="bx bx-map"></i>
        <a href="#" class="link">Dakar</a>
      </div>
      <div>
        <i class="bx bx-phone"></i>
        <a href="#">+221 77 5XX XX XX</a>
      </div>
      <div>
        <i class="bx bx-envelope"></i>
        <a href="#">contact@sunuhabitat.sn</a>
      </div>
    </div>
    <div class="footer-box">
      <h3>Liens Rapides</h3>
      <a href="/">Accueil</a>
      <a href="#maison">Nos maisons</a>
      <a href="#about">A Propos</a>
      <a href="#contact">Contact</a>
    </div>
    <div class="footer-box">
      <h3>A propos</h3>
      <a href="#" class="link">support</a>
      <a href="#" class="link">support</a>
    </div>
  </div>
</footer>
