*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 3.8rem;
}
img{
    width:100%;
}
section, footer{
    padding: 3.5rem 10%;
}
p{
    font-size: 15px;
    margin: 10px 0;
    letter-spacing: .5px;
    line-height: 22px;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    color: white;
    background-color: rgb(0, 191, 99);
    border-radius: 30px 0 30px 0;
    transition: .5s ease-in-out;
    margin: 15px 0;
    border: 2px solid rgb(0, 191, 99);
}
.btn:hover{
    background: none;
    border-radius: 0px;
    color: rgb(0, 191, 99);
}
.btn-2{
    background: none;
}
.btn-2:hover{
    background-color: rgb(0, 191, 99);
}
.delete{
    color: red;
}
.section-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}
.section-heading h2{
    font-size: clamp(20px, 4vw, 30px);
    text-transform: capitalize;
}
.section-heading h2 span{
    color: rgb(0, 191, 99)
}

/* NAVBAR STYLE */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    box-shadow: 0 2px 5px rgb(0, 191, 99);
}
.logo img{
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.navigation{
    display: flex;
}
.navigation a{
    color: black;
    font-size: 1rem;
    padding: 10px 15px;
    transition: .2s ease-in-out;
}
.navigation a:hover{
    color: rgb(0, 191, 99);
    background-color: rgb(246, 246, 246);
    border-radius: 3px;
}
#menu-burger{
    font-size: 40px;
    cursor: pointer;
    display: none;
}
/* HOME STYLES */

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background: linear-gradient(rgba(0, 0, 0, 0.502), rgba(0, 0, 0, 0.429)), no-repeat center / cover url(../images/home-bg.jpg);
    object-fit: contain;
    min-height: 100vh;
    color: rgb(255, 255, 255);
}
.home-title h1{
    font-size: clamp(25px, 5vw, 35px);
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}
.home-title h1 span{
    color: rgb(0, 191, 99);
}

.btn-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
}

/* MAISONS STYLES */

.maison-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, auto));
    gap: 1.5rem;
    align-items: center;
    margin-top: 30px;
}
.maison-box{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s ease-in-out;
    box-shadow: 0 2px 10px rgb(228, 228, 228);
    border-radius: 7px;
}
.maison-content{
    width: 100%;
}
.maison-box:hover{
    transform: translateY(-10px);
}
.btn-groupe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.btn-groupe .btn:hover{
    color: rgb(0, 191, 99);
}
.maison-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.maison-info h3{
    font-size: 14px;
    margin: 10px 0;
}
.btn-groupe span{
    font-size: 14px;
}
.maison-info span{
    font-size: 12px;
    color: rgb(139, 138, 138);
}




/* ABOUT STYLE */


.about-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 15px;
    align-items: center;
    margin-top: 30px;
}
.about-content h3{
    font-size: clamp(20px, 4vw, 30px);
    margin-bottom: 1.5rem;
}

.about-img img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 35% 0 35% 0;
}

/* CHOICE STYLES */

.choice-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
    padding: 10px;
    margin-top: 30px;

}
.choice-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-top: 5px solid rgb(0, 191, 99);
    box-shadow: 0 2px 15px rgb(188, 188, 188);
    border-radius: 7px;
    padding: 16px 10px;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.choice-box:hover{
    transform: translate(5px, -10px);

}
.choice-box i{
    font-size: 50px;
    color: rgb(0, 191, 99);
    margin-bottom: 10px;
}
.choice-box h4{
    font-size: 17px;
    margin-bottom: 5px;
}
.choice-box p{
    font-size: 14px;
}



/* CLIENTS STYLES */
.client{
    background: no-repeat center / cover url(../images/bg.jpg);
    min-height: 90vh;
    object-fit: contain;
}
.client-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
}
.client-box{
    text-align: center;
    padding: 15px;
    border-radius: 7px;
    background-color: rgba(242, 242, 242, 0.619);
    transition: .3s ease-in-out;
}
.client-box:hover{
    box-shadow: 0 0 5px rgb(0, 191, 99);
    transform: translateY(11px);

}
.client-box img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


/* CONTACT STYLES */

.contact-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1.5rem;
}
.contact-img iframe{
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    width: 100%;
}
.form-groupe{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.form-groupe div{
    display: flex;
    flex-direction: column;
    width: 49%;
}
form input, textarea, select{
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid rgb(21, 21, 21);
}
form input:focus, textarea:focus ,select:focus{
    border: 1px solid rgb(0, 191, 99);
}
form input::placeholder, textarea::placeholder{
    font-size: 12px;
    color: rgb(174, 173, 173);
}
form textarea{
    min-height: 200px;
    resize: none;
}
form label{
    font-size: 14px;
    margin-bottom: 5px;
}
.button{
    display: inline-block;
    padding: 12px 20px;
    font-size: 14px;
    color: white;
    background-color: rgb(0, 191, 99);
    border-radius: 30px;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.button:hover{
    background-color: transparent;
    border: 1px solid rgb(0, 191, 99);
    color: rgb(0, 191, 99);
}


/* CONNEXION STYLES */
.connexion-section{
    margin-top: 25px;
}
.connexion form{
    display: flex;
    justify-content: center;
    max-width: 450px;
    margin: 0 auto; 
}
.connexion form p{
    text-align: center;
    font-size: 14px;
}
.connexion form p a{
    color: rgb(0, 191, 99);
}
.connexion form p a:hover{
    color: rgb(13, 141, 79);
}

.nav-connecte{
    display: flex;
    justify-content: center;
}



/* detail styles */

.detail-maison-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 30px;
}
.detail-maison-img img{
    width:100%;
    border-radius:8px;
}
.detail-maison-content{
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 0 5px rgb(0, 191, 99);
}
.detail-maison-content h3{
    font-size: 20px;
    margin-bottom: 30px;
}


.dashboard-container{
display:flex;
min-height:100vh;
}
.sidebar{
width:250px;
background:#f5f5f5;
padding:30px 20px;
display:flex;
flex-direction:column;
gap:20px;
}

.sidebar a{
color:black;
font-weight:500;
padding:10px;
border-radius:5px;
transition:.3s;
}

.sidebar a:hover{
background:rgb(0,191,99);
color:white;
}
.dashboard-content{
flex:1;
padding:40px;
}













/* FOOTER STYLES */

footer{
    background-color: rgba(207, 207, 207, 0.881);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer-box{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.footer-img img{
    width: 150px;
}
.footer-box h3{
    font-size: 18px;
    margin-bottom: 15px;
}
.footer-box i{
    font-size: 20px;
    margin-right: 10px;
    color: rgb(0, 191, 99);
}
.footer-box div{
    display: flex;
    margin-bottom: 10px;
}
.footer-box a{
    color: black;
    margin-bottom: 10px;
    font-style: 15px;
}
.footer-box a:hover{
    color: rgb(0, 191, 99);
}
.copy{
    text-align: center;
}
.copy hr{
    /* border: 1px solid black; */
    width: 100%;
}



@media screen and (max-width:900px){
    section, footer{
        padding: 30px 5%;
    }
    nav{
        padding: 0px 5%;
    }
}
@media screen and (max-width:790px) {
    section, footer{
        padding: 30px 3%;
    }
    nav{
        padding: 0px 3%;
    }
    #menu-burger{
        display: block;
    }
    .navigation{
        display: none;
        flex-direction: column;
        background-color: rgba(249, 249, 249, 0.767);
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        text-align: center;
        padding: 15px 0;
    }
    .navigation.active{
        display: flex;
    }
    .navigation a{
        display: inline-block;
        color: black;
        font-size: 1rem;
        padding: 10px 15px;
        width: 100%;
    }
    .about-container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        margin-top: 30px;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .form-groupe{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .form-groupe div{
        width: 100%;
    }
}