{% load static %}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SUNU HABITAT</title>
    <link rel="shortcut icon" href="{% static 'images/S.png' %}" type="image/x-icon" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    {% include 'partials/navbar.html' %} {% block content %} {% endblock %} {% include 'partials/footer.html' %}
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
