{% load static %}

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - SUNU HABITAT</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet" />
  </head>

  <body>
    <!-- NAVBAR DASHBOARD -->

    <nav>
      <!-- LEFT -->
      <div class="nav-left">
        <a href="/" class="logo">
          <img src="{% static 'images/S.png' %}" />
        </a>
      </div>
      <i class="bx bx-menu-alt-right" id="menu-dashboard"></i>
      <!-- RIGHT -->
      <div class="nav-right">
        <div class="user-menu">
          <span id="user-toggle"> 👤 {{ user.first_name|upper }} ▼ </span>
          <div class="dropdown" id="dropdown">
            <a href="#">Profil</a>
            <a href="{% url 'logout' %}">Déconnexion</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="dashboard-container">
      <!-- SIDEBAR -->
      <div class="sidebar" id="sidebar">
        <a href="{% url 'dashboard' %}">Mes maisons</a>
        <a href="{% url 'ajouter_maison' %}">Ajouter maison</a>
        <a href="#">Messages</a>
      </div>
      <!-- CONTENU -->
      <div class="dashboard-content">{% block content %} {% endblock %}</div>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
